<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Крафт</title>
    <meta name="cmsmagazine" content="5a7189a28fb3dc68238dbdb44c9ea99c" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">
    <link rel="icon" type="image/png" sizes="16x16" href="../img/favicon.ico">
    <link rel="stylesheet" href="../css/style.css">
</head>

<body>

    <h2 style="margin-left: 20px;">Барабулька</h2>

    <ul style="margin: 20px 20px 60px;">
        <li style="font-size: 30px; font-family: 'Conv_PFDinTextPro-Hairline';">font-family: 'Conv_PFDinTextPro-Hairline';</li>
        <li style="font-size: 30px; font-family: 'Conv_PFDinTextPro-ExtraThin';">font-family: 'Conv_PFDinTextPro-ExtraThin';</li>
        <li style="font-size: 30px; font-family: 'Conv_PFDinTextPro-Thin';">font-family: 'Conv_PFDinTextPro-Thin';</li>
        <li style="font-size: 30px; font-family: 'Conv_PFDinTextPro-Light';">font-family: 'Conv_PFDinTextPro-Light';</li>
        <li style="font-size: 30px; font-family: 'Conv_PFDinTextPro-Regular';">font-family: 'Conv_PFDinTextPro-Regular';</li>
        <li style="font-size: 30px; font-family: 'Conv_PFDinTextPro-Medium';">font-family: 'Conv_PFDinTextPro-Medium';</li>
        <li style="font-size: 30px; font-family: 'Conv_PFDinTextPro-Bold';">font-family: 'Conv_PFDinTextPro-Bold';</li>
        <li style="font-size: 30px; font-family: 'Conv_PFDinTextPro-ExtraBlack';">font-family: 'Conv_PFDinTextPro-ExtraBlack';</li>
    </ul>

    <h2 style="margin-left: 20px;">Инжыр</h2>

    <ul style="margin: 20px 20px 60px;">
        <li style="font-size: 30px; font-family: 'Conv_Oswald-Light';">font-family: 'Conv_Oswald-Light';</li>
        <li style="font-size: 30px; font-family: 'Conv_MARTA_ITALIC';">font-family: 'Conv_MARTA_ITALIC';</li>
        <li style="font-size: 30px; font-family: 'Conv_MARTA_REGULAR';">font-family: 'Conv_MARTA_REGULAR';</li>
        <li style="font-size: 30px; font-family: 'Conv_MARTA_BOLD';">font-family: 'Conv_MARTA_BOLD';</li>
        <li style="font-size: 30px; font-family: 'Conv_HelveticaNeueCyr-Light';">font-family: 'Conv_HelveticaNeueCyr-Light';</li>
        <li style="font-size: 30px; font-family: 'Conv_HelveticaNeueCyr-Roman';">font-family: 'Conv_HelveticaNeueCyr-Roman';</li>
        <li style="font-size: 30px; font-family: 'Conv_HelveticaNeueCyr-Bold';">font-family: 'Conv_HelveticaNeueCyr-Bold';</li>
        <li style="font-size: 30px; font-family: 'Conv_HelveticaNeueCyr-Medium';">font-family: 'Conv_HelveticaNeueCyr-Medium';</li>
    </ul>

    <h2 style="margin-left: 20px;">Крафт</h2>

    <ul style="margin: 20px 20px 60px;">
        <li style="font-size: 30px; font-family: 'PosterizerKGSketch';">font-family: 'PosterizerKGSketch';</li>
        <li style="font-size: 30px; font-family: 'PosterizerKG';">font-family: 'PosterizerKG';</li>
        <li style="font-size: 30px; font-family: 'PosterizerKGInline';">font-family: 'PosterizerKGInline';</li>
        <li style="font-size: 30px; font-family: 'PosterizerKGRough';">font-family: 'PosterizerKGRough';</li>
        <li style="font-size: 30px; font-family: 'PosterizerKGRounded';">font-family: 'PosterizerKGRounded';</li>
    </ul>

    <ul style="margin: 20px 20px 60px;">
        <li style="font-size: 30px; font-family: 'Conv_GothamPro-Light';">font-family: 'Conv_GothamPro-Light';</li>
        <li style="font-size: 30px; font-family: 'Conv_GothamPro';">font-family: 'Conv_GothamPro';</li>
        <li style="font-size: 30px; font-family: 'Conv_GothamPro-Medium';">font-family: 'Conv_GothamPro-Medium';</li>
        <li style="font-size: 30px; font-family: 'Conv_GothamPro-Bold';">font-family: 'Conv_GothamPro-Bold';</li>
        <li style="font-size: 30px; font-family: 'Conv_GothamPro-Black';">font-family: 'Conv_GothamPro-Black';</li>
    </ul>

    <script src="../js/jquery.min.js"></script>
    <script src="../js/jquery.mask.min.js"></script>
    <script src="../js/script.min.js"></script>
</body>

</html>