<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Инжыр</title>
    <meta name="cmsmagazine" content="5a7189a28fb3dc68238dbdb44c9ea99c" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">
    <link rel="icon" type="image/png" sizes="16x16" href="../img/favicon.ico">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/card-product.css">
</head>

<body>

    <!-- build:section layout.settings-->
    <!-- /build -->

    <!-- build:section layout.header-->
    <!-- /build -->

    <div class="bread-crumbs">
        <div class="container">
            <ul>
                <li><a href="index.html">Главная</a></li>
                <li><a href="index.html">Меню</a></li>
                <li><span>Паста Четыре сыра</span></a>
                </li>
            </ul>
        </div>
    </div>

    <section class="card-product">
        <div class="container">
            <div class="card-product-content">
                <div class="card-product-img" style="background: url('../img/card-product-img.png') no-repeat 50% 50%; background-size: cover;">
                    <span class="new">new</span>
                    <span class="like"><i class="icon-heart"></i></span>
                </div>
                <div class="card-product-text">
                    <div class="title">
                        <h3>Паста Четыре сыра</h3>
                        <p>Паста, моцарелла, сыр блю чиз, смесь сыров чеддер и пармезан, сливочный соус</p>
                    </div>
                    <div class="card-size">
                        <p>Порция</p>
                        <ul class="size-link">
                            <li class="active">маленькая</li>
                            <li>средняя</li>
                            <li>большая</li>
                        </ul>
                    </div>
                    <div class="ingredients">
                        <div class="ingredients-item">
                            <h4></h4>
                            <span>В 100 г</span>
                            <span>Порция</span>
                        </div>
                        <div class="ingredients-item">
                            <h4>Белки</h4>
                            <span>6.5</span>
                            <span>13</span>
                        </div>
                        <div class="ingredients-item">
                            <h4>Жиры</h4>
                            <span>8.4</span>
                            <span>16.8</span>
                        </div>
                        <div class="ingredients-item">
                            <h4>Углеводы</h4>
                            <span>50.9</span>
                            <span>101.8</span>
                        </div>
                        <div class="ingredients-item">
                            <h4>кКал</h4>
                            <span>305</span>
                            <span>610</span>
                        </div>
                    </div>
                    <span class="gram">200 гр</span>
                    <div class="buy">
                        <div class="quantity">
                            <input type="number" value="2">
                        </div>
                        <div class="buy-link">
                            <strong><i>Цена</i> 523 р.</strong>
                            <a href="javascript:void(0)"><span></i>В корзину</span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="products">
        <div class="container">
            <div class="products-content">
                <div class="products-item">
                    <div class="item">
                        <div class="img" style="background: url('../img/products-item-img1.png') no-repeat 50% 50%; background-size: cover;">
                            <a href="card-product.html"></a>
                            <span class="new">new</span>
                            <span class="like"><i class="icon-heart"></i></span>
                        </div>
                        <div class="text">
                            <h4><a href="card-product.html">Ташкент</a></h4>
                            <p>Отварная говядина, зеленая редька, лук фри, кинза, яйцо, майонезная заправка</p>
                            <div class="sum">
                                <ul>
                                    <li>200 гр</li>
                                    <li>418 ккал</li>
                                </ul>
                                <strong>260 р.</strong>
                            </div>
                            <div class="button">
                                <a href="javascropt:void(0)">Заказать (<input type="number" value="2">)</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="products-item">
                    <div class="item">
                        <div class="img" style="background: url('../img/products-item-img2.png') no-repeat 50% 50%; background-size: cover;">
                            <a href="card-product.html"></a>
                            <span class="new">new</span>
                            <span class="like"><i class="icon-heart"></i></span>
                        </div>
                        <div class="text">
                            <h4><a href="card-product.html">Мангал</a></h4>
                            <p>Отварная говядина, зеленая редька, лук фри, кинза, яйцо, майонезная заправка</p>
                            <div class="sum">
                                <ul>
                                    <li>200 гр</li>
                                    <li>418 ккал</li>
                                </ul>
                                <strong>260 р.</strong>
                            </div>
                            <div class="button">
                                <a href="javascropt:void(0)">Заказать (<input type="number" value="2">)</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="products-item">
                    <div class="item">
                        <div class="img" style="background: url('../img/products-item-img3.png') no-repeat 50% 50%; background-size: cover;">
                            <a href="card-product.html"></a>
                            <span class="new">new</span>
                            <span class="like"><i class="icon-heart"></i></span>
                        </div>
                        <div class="text">
                            <h4><a href="card-product.html">Грузинский</a></h4>
                            <p>Отварная говядина, зеленая редька, лук фри, кинза, яйцо, майонезная заправка</p>
                            <div class="sum">
                                <ul>
                                    <li>200 гр</li>
                                    <li>418 ккал</li>
                                </ul>
                                <strong>260 р.</strong>
                            </div>
                            <div class="button">
                                <a href="javascropt:void(0)">Заказать (<input type="number" value="2">)</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="products-item">
                    <div class="item">
                        <div class="img" style="background: url('../img/products-item-img4.png') no-repeat 50% 50%; background-size: cover;">
                            <a href="card-product.html"></a>
                            <span class="new">new</span>
                            <span class="like"><i class="icon-heart"></i></span>
                        </div>
                        <div class="text">
                            <h4><a href="card-product.html">Салат с рукколой и креветками</a></h4>
                            <p>Отварная говядина, зеленая редька, лук фри, кинза, яйцо, майонезная заправка</p>
                            <div class="sum">
                                <ul>
                                    <li>200 гр</li>
                                    <li>418 ккал</li>
                                </ul>
                                <strong>260 р.</strong>
                            </div>
                            <div class="button">
                                <a href="javascropt:void(0)">Заказать (<input type="number" value="2">)</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- build:section layout.footer-->
    <!-- /build -->

    <script src="../js/jquery.min.js"></script>
    <script src="../js/jquery.mask.min.js"></script>
    <script src="../js/jquery.matchHeight.min.js"></script>
    <script src="../js/jcf.min.js"></script>
    <script src="../js/jcf.number.min.js"></script>
    <script src="../js/script.min.js"></script>
    <script src="../js/card-product.min.js"></script>
</body>

</html>