
.icon-001-like:before { content: '\e800'; } /* '' */
.icon-002-courier:before { content: '\e801'; } /* '' */
.icon-002-dislike:before { content: '\e802'; } /* '' */
.icon-003-clock:before { content: '\e803'; } /* '' */
.icon-004-giftbox:before { content: '\e804'; } /* '' */
.icon-005-buyer:before { content: '\e805'; } /* '' */
.icon-006-purse:before { content: '\e806'; } /* '' */
.icon-007-terminal:before { content: '\e807'; } /* '' */
.icon-008-online-payment:before { content: '\e808'; } /* '' */
.icon-call-answer:before { content: '\e809'; } /* '' */
.icon-delivery-truck:before { content: '\e80a'; } /* '' */
.icon-error:before { content: '\e80b'; } /* '' */
.icon-magnifying-glass:before { content: '\e80c'; } /* '' */
.icon-maps-and-flags:before { content: '\e80d'; } /* '' */
.icon-next:before { content: '\e80e'; } /* '' */
.icon-shopping-cart:before { content: '\e80f'; } /* '' */
.icon-heart:before { content: '\e810'; } /* '' */
.icon-facebook:before { content: '\e811'; } /* '' */
.icon-instagram:before { content: '\e812'; } /* '' */
.icon-telegram:before { content: '\e813'; } /* '' */
.icon-arrow-long:before { content: '\e814'; } /* '' */
.icon-user:before { content: '\e81a'; } /* '' */