<footer>
    <div class="footer" style="background: url('../img/footer.jpg') 50% 50% no-repeat; background-size: cover;">
        <img src="../img/footer-after.png" alt="" class="footer-after">
        <div class="container">
            <div class="footer-content">
                <div class="logo-menu">
                    <div class="logo">
                        <a href="index.html"><img src="../img/logo-footer.png" alt=""></a>
                        <p>© 2019 Ресторан «Барабулька»</p>
                    </div>
                    <div class="menu">
                        <ul>
                            <li><a href="letter-director.html">Письмо Директору</a></li>
                            <li><a href="delivery.html">Доставка и оплата</a></li>
                            <li><a href="news.html">Новости</a></li>
                            <li><a href="contacts.html">Контакты</a></li>
                        </ul>
                        <a class="designed" href="javascript:void(0)">Разработано в студии “Touch”</a>
                        <a class="privacy" href="privacy-terms.html">Условия конфиденциальности</a>
                    </div>
                    <div class="addres-payment">
                        <p>Юридический адрес:</p>
                        <a href="javascript:void(0)" class="addres">Москва, ул. Добролюбова, д. 129, оф 15</a>
                        <a class="tel" href="tel:8 000 000 00 00">тел: 8 000 000 00 00</a>
                        <p>Принимаем к оплате</p>
                        <ul>
                            <li><a href="javascript:void(0)"><img src="../img/payment-img1.png" alt=""></a></li>
                            <li><a href="javascript:void(0)"><img src="../img/payment-img2.png" alt=""></a></li>
                        </ul>
                    </div>
                </div>
                <div class="solial-attachment">
                    <p>Присоединяйся к нам в соц сетях </p>
                    <ul class="solial">
                        <li><a href="javascript:void(0)"><i class="icon-instagram"></i></a></li>
                        <li><a href="javascript:void(0)"><i class="icon-facebook"></i></a></li>
                        <li><a href="javascript:void(0)"><i class="icon-telegram"></i></a></li>
                    </ul>
                    <ul class="attachment">
                        <li>
                            <span>для IOS</span>
                            <a class="attachment-desc" href="javascript:void(0)"><img src="../img/attachment1.png" alt=""></a>
                            <a class="attachment-mobile" href="javascript:void(0)"><img src="../img/store-icon.png" alt=""></a class="attachment-desc">
                        </li>
                        <li>
                            <span>для Android</span>
                            <a class="attachment-desc" href="javascript:void(0)"><img src="../img/attachment1.png" alt=""></a class="attachment-desc">
                            <a class="attachment-mobile" href="javascript:void(0)"><img src="../img/google-icon.png" alt=""></a class="attachment-desc">
                        </li>
                    </ul>
                    <p>© 2019 Ресторан «Барабулька»</p>
                </div>
            </div>
        </div>
    </div>
</footer>