<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Барабулька</title>
    <meta name="cmsmagazine" content="5a7189a28fb3dc68238dbdb44c9ea99c" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">
    <link rel="icon" type="image/png" sizes="16x16" href="../img/favicon.ico">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/contacts.css">
</head>

<body>

    <!-- build:section layout.settings-->
    <!-- /build -->

    <!-- build:section layout.header-->
    <!-- /build -->

    <div class="bread-crumbs">
        <div class="container">
            <ul>
                <li><a href="index.html">Главная</a></li>
                <li><span>Контакты</span></a>
                </li>
            </ul>
        </div>
    </div>

    <section class="contacts">
        <div class="container">
            <div class="title">
                <h2>Контакты</h2>
            </div>
            <div class="contacts-content">
                <div class="text">
                    <ul>
                        <li>
                            <h6>Телефон:</h6>
                            <a href="tel:8 800 000 00 00">8 800 000 00 00</a>
                        </li>
                        <li>
                            <h6>E-mail:</h6>
                            <a href="mailto:info@barabulka.com">info@barabulka.com</a>
                        </li>
                        <li>
                            <h6>Юридический адрес:</h6>
                            <p>Москва,ул. Добролюбова, д.129 оф.15</p>
                        </li>
                        <li>
                            <h6>Время работы:</h6>
                            <p>пн-пт: 08:00 - 23:00</p>
                            <p>сб-вс: 09:00 - 23:00</p>
                        </li>
                    </ul>
                </div>
                <div class="maps">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2241.8508738128576!2d37.592019215932986!3d55.81318928056962!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46b5361a15ce29e9%3A0x3ba78893196274f0!2z0YPQuy4g0JTQvtCx0YDQvtC70Y7QsdC-0LLQsCwg0JzQvtGB0LrQstCwLCDQoNC-0YHRgdC40Y8!5e0!3m2!1sru!2sua!4v1577393744335!5m2!1sru!2sua"
                    frameborder="0" style="border:0;" allowfullscreen=""></iframe>
                </div>
            </div>
        </div>
    </section>

    <!-- build:section layout.footer-->
    <!-- /build -->

    <script src="../js/jquery.min.js"></script>
    <script src="../js/jquery.mask.min.js"></script>
    <script src="../js/jquery.matchHeight.min.js"></script>
    <script src="../js/script.min.js"></script>
    <script src="../js/contacts.min.js"></script>
</body>

</html>