<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Барабулька</title>
    <meta name="cmsmagazine" content="5a7189a28fb3dc68238dbdb44c9ea99c" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">
    <link rel="icon" type="image/png" sizes="16x16" href="../img/favicon.ico">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/delivery.css">
</head>

<body>

    <!-- build:section layout.settings-->
    <!-- /build -->

    <!-- build:section layout.header-->
    <!-- /build -->

    <div class="bread-crumbs">
        <div class="container">
            <ul>
                <li><a href="index.html">Главная</a></li>
                <li><span>Доставка</span></a>
                </li>
            </ul>
        </div>
    </div>

    <section class="delivery">
        <div class="container">
            <div class="title">
                <h2>Доставка</h2>
                <p>У нас все просто, быстро и легко</p>
            </div>
            <div class="delivery-content">
                <img src="../img/delivery-img.png" alt="" class="delivery-img">
                <div class="timer">
                    <img src="../img/timer-img.png" alt="">
                    <span>минут</span>
                    <p>Среднее время доставки на прошлой неделе</p>
                </div>
            </div>
        </div>
    </section>

    <section class="delivery-types">
        <div class="container">
            <div class="title">
                <h2>Типы доставки</h2>
            </div>
            <div class="types-items">
                <div class="types-item">
                    <i class="icon-002-courier"></i>
                    <h5>Стандартная доставка</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore</p>
                </div>
                <div class="types-item">
                    <i class="icon-003-clock"></i>
                    <h5>Доставка ко времени</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore</p>
                </div>
                <div class="types-item">
                    <i class="icon-005-buyer"></i>
                    <h5>Самовывоз</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore</p>
                </div>
                <div class="types-item">
                    <i class="icon-004-giftbox"></i>
                    <h5>Доставка в подарок</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore</p>
                </div>
            </div>
        </div>
    </section>

    <section class="get-pay">
        <div class="container">
            <div class="title">
                <h2>Получили заказ? Оплатите удобным способом</h2>
            </div>
            <div class="get-pay-items">
                <div class="get-pay-item">
                    <i class="icon-008-online-payment"></i>
                    <h5>Картой на сайте</h5>
                </div>
                <div class="get-pay-item">
                    <i class="icon-007-terminal"></i>
                    <h5>Картой курьеру</h5>
                </div>
                <div class="get-pay-item">
                    <i class="icon-006-purse"></i>
                    <h5>Наличными курьеру</h5>
                </div>
            </div>
        </div>
    </section>

    <section class="have-map">
        <div class="container">
            <h4>Приятного аппетита!</h4>
            <div class="have-map-content">
                <div class="have-text">
                    <div class="have-item">
                        <i class="color1"></i>
                        <ul>
                            <li>Время доставки: <span>60 минут</span></li>
                            <li>Минимальный заказ: <span>790</span> <strong> RUB.</strong></li>
                        </ul>
                    </div>
                    <div class="have-item">
                        <i class="color2"></i>
                        <ul>
                            <li>Время доставки: <span>80 минут</span></li>
                            <li>Минимальный заказ: <span>890</span> <strong> RUB.</strong></li>
                        </ul>
                    </div>
                    <div class="have-item">
                        <ul>
                            <li>Время работы: <span>с 11:00 до 23:00</span></li>
                        </ul>
                    </div>
                </div>
                <img src="../img/delivery-map.png" alt="">
            </div>
        </div>
    </section>

    <!-- build:section layout.footer-->
    <!-- /build -->

    <script src="../js/jquery.min.js"></script>
    <script src="../js/jquery.mask.min.js"></script>
    <script src="../js/jquery.matchHeight.min.js"></script>
    <script src="../js/script.min.js"></script>
    <script src="../js/delivery.min.js"></script>
</body>

</html>