<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Барабулька</title>
    <meta name="cmsmagazine" content="5a7189a28fb3dc68238dbdb44c9ea99c" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">
    <link rel="icon" type="image/png" sizes="16x16" href="../img/favicon.ico">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/error.css">
</head>

<body>

    <!-- build:section layout.settings-->
    <!-- /build -->

    <section class="error" style="background: url('../img/error-bg.png') no-repeat 50% 50%; background-size: cover;">
        <div class="error-content">
            <img src="../img/error-img.png" alt="">
            <p>Простите, но этой страницы сейчас нет в наличии</p>
            <a href="javascript:void(0)">Назад</a>
        </div>
    </section>

    <script src="../js/jquery.min.js"></script>
    <script src="../js/jquery.mask.min.js"></script>
    <script src="../js/jquery.matchHeight.min.js"></script>
    <script src="../js/script.min.js"></script>
    <script src="../js/error.min.js"></script>
</body>

</html>