<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Барабулька</title>
    <meta name="cmsmagazine" content="5a7189a28fb3dc68238dbdb44c9ea99c" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">
    <link rel="icon" type="image/png" sizes="16x16" href="../img/favicon.ico">
    <link rel="stylesheet" href="../css/style.css">
</head>

<body>

    <ul style="margin: 20px;">
        <li style="font-size: 30px; font-family: 'Conv_PFDinTextPro-Hairline';">font-family: 'Conv_PFDinTextPro-Hairline';</li>
        <li style="font-size: 30px; font-family: 'Conv_PFDinTextPro-ExtraThin';">font-family: 'Conv_PFDinTextPro-ExtraThin';</li>
        <li style="font-size: 30px; font-family: 'Conv_PFDinTextPro-Thin';">font-family: 'Conv_PFDinTextPro-Thin';</li>
        <li style="font-size: 30px; font-family: 'Conv_PFDinTextPro-Light';">font-family: 'Conv_PFDinTextPro-Light';</li>
        <li style="font-size: 30px; font-family: 'Conv_PFDinTextPro-Regular';">font-family: 'Conv_PFDinTextPro-Regular';</li>
        <li style="font-size: 30px; font-family: 'Conv_PFDinTextPro-Medium';">font-family: 'Conv_PFDinTextPro-Medium';</li>
        <li style="font-size: 30px; font-family: 'Conv_PFDinTextPro-Bold';">font-family: 'Conv_PFDinTextPro-Bold';</li>
        <li style="font-size: 30px; font-family: 'Conv_PFDinTextPro-ExtraBlack';">font-family: 'Conv_PFDinTextPro-ExtraBlack';</li>
    </ul>

    <script src="../js/jquery.min.js"></script>
    <script src="../js/jquery.mask.min.js"></script>
    <script src="../js/script.min.js"></script>
</body>

</html>