<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Барабулька</title>
    <meta name="cmsmagazine" content="5a7189a28fb3dc68238dbdb44c9ea99c" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">
    <link rel="icon" type="image/png" sizes="16x16" href="../img/favicon.ico">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/letter-director.css">
</head>

<body>

    <!-- build:section layout.settings-->
    <!-- /build -->

    <!-- build:section layout.header-->
    <!-- /build -->

    <div class="bread-crumbs">
        <div class="container">
            <ul>
                <li><a href="index.html">Главная</a></li>
                <li><span>Письмо директору</span></a>
                </li>
            </ul>
        </div>
    </div>

    <section class="letter-director">
        <div class="container">
            <div class="title">
                <h2>Письмо директору</h2>
            </div>
            <div class="letter-director-content">
                <div class="letter-director-text clearfix">
                    <img src="../img/letter-director-img.png" alt="">
                    <div class="text">
                        <p>Наверняка Вам часто встречались на других сайтах призывы "сообщить о проблеме", "оценить услугу" и вопросы "как мы можем улучшить наш сервис". Эдакие осовремененные цифровые "Книги жалоб и предложений".</p>
                        <p>Мы же предлагаем написать душевное письмо нашему руководству. Ну, как душевное... мы на это надеемся ;-)</p>
                    </div>
                    <div class="text">
                        <p>Ведь письмо - это нечто намного большее, чем сухое сообщение о проблеме или "лайк" в соцсети. </p>
                        <p>В письме можно раскрыть душу, отразить все надежды и чаяния, поплакаться в конце концов (например, на нерадивого курьера, который опоздал с доставкой на 0,5 секунды). </p>
                        <p>А еще наши сотрудники очень любят получать письма благодарности за свою отзывчивость, профессионализм и оперативность обслуживания. Благодарных отзывов у нас уже очень много, и мы не устаем ими гордиться.</p>
                        <p>Но самое главное - когда вы пишете письмо, вы даете нам возможность стать лучше именно в ваших глазах. </p>
                    </div>
                    <div class="text">
                        <p>Пишите. Пишите много, обо всем и от всего сердца: о каком сервисе вы по-настоящему мечтаете, какую еду обожаете в особые дни, и даже какая прическа должна быть у курьера, чтобы завоевать ваше сердце. </p>
                    </div>
                    <div class="text">
                        <p>И знаете, что? В отличие от многих других сайтов, ваше письмо обязательно будет прочитано, а пожелания приняты к исполнению. Отвечаем нашей репутацией!</p>
                    </div>
                    <div class="text">
                        <p>Обращайтесь по любым вопросам. Мы хотим, чтобы вы нам доверяли. Мы хотим становиться еще лучше с каждой секундой и с каждым вашим письмом.</p>
                    </div>
                </div>
                <div class="letter-director-form">
                    <form>
                        <div class="input">
                            <input type="text" placeholder="Ваше имя">
                            <!-- при не корентном заполнение у поля должен появлятьса класс error -->
                            <input type="text" class="phone" placeholder="Ваш телефон">
                            <input type="text" placeholder="Ваш e-mail">
                        </div>
                        <textarea placeholder="Введите сообщение"></textarea>
                        <button>Отправить</button>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <!-- build:section layout.footer-->
    <!-- /build -->

    <script src="../js/jquery.min.js"></script>
    <script src="../js/jquery.mask.min.js"></script>
    <script src="../js/jquery.matchHeight.min.js"></script>
    <script src="../js/script.min.js"></script>
    <script src="../js/letter-director.min.js"></script>
</body>

</html>