<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Барабулька</title>
    <meta name="cmsmagazine" content="5a7189a28fb3dc68238dbdb44c9ea99c" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">
    <link rel="icon" type="image/png" sizes="16x16" href="../img/favicon.ico">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/news.css">
</head>

<body>

    <!-- build:section layout.settings-->
    <!-- /build -->

    <!-- build:section layout.header-->
    <!-- /build -->

    <div class="bread-crumbs">
        <div class="container">
            <ul>
                <li><a href="index.html">Главная</a></li>
                <li><span>Новости</span></a>
                </li>
            </ul>
        </div>
    </div>

    <section class="news">
        <div class="container">
            <div class="title">
                <h2>Новости</h2>
            </div>
            <div class="news-items">
                <div class="news-item">
                    <div class="img" style="background: url('../img/news-item-img.png') no-repeat 50% 50%; background-size: cover;"></div>
                    <div class="text">
                        <span>16 апр 2019</span>
                        <h3>Твой здоровый обед!</h3>
                        <p>Lorem ipsum dolor sit amet, rhoncus justo hymenaeos, pretium non id at amet. Adipisicing urna. Feugiat lorem ullamcorper volutpat semper velit. Elit nostra ligula etiam. </p>
                        <a href="news-internal.html">Подробнее <i class="icon-arrow-long"></i></a>
                    </div>
                </div>
                <div class="news-item">
                    <div class="img" style="background: url('../img/news-item-img.png') no-repeat 50% 50%; background-size: cover;"></div>
                    <div class="text">
                        <span>16 апр 2019</span>
                        <h3>Твой здоровый обед!</h3>
                        <p>Lorem ipsum dolor sit amet, rhoncus justo hymenaeos, pretium non id at amet. Adipisicing urna. Feugiat lorem ullamcorper volutpat semper velit. Elit nostra ligula etiam. </p>
                        <a href="news-internal.html">Подробнее <i class="icon-arrow-long"></i></a>
                    </div>
                </div>
                <div class="news-item">
                    <div class="img" style="background: url('../img/news-item-img.png') no-repeat 50% 50%; background-size: cover;"></div>
                    <div class="text">
                        <span>16 апр 2019</span>
                        <h3>Твой здоровый обед!</h3>
                        <p>Lorem ipsum dolor sit amet, rhoncus justo hymenaeos, pretium non id at amet. Adipisicing urna. Feugiat lorem ullamcorper volutpat semper velit. Elit nostra ligula etiam. </p>
                        <a href="news-internal.html">Подробнее <i class="icon-arrow-long"></i></a>
                    </div>
                </div>
                <div class="news-item">
                    <div class="img" style="background: url('../img/news-item-img.png') no-repeat 50% 50%; background-size: cover;"></div>
                    <div class="text">
                        <span>16 апр 2019</span>
                        <h3>Твой здоровый обед!</h3>
                        <p>Lorem ipsum dolor sit amet, rhoncus justo hymenaeos, pretium non id at amet. Adipisicing urna. Feugiat lorem ullamcorper volutpat semper velit. Elit nostra ligula etiam. </p>
                        <a href="news-internal.html">Подробнее <i class="icon-arrow-long"></i></a>
                    </div>
                </div>
                <div class="news-item">
                    <div class="img" style="background: url('../img/news-item-img.png') no-repeat 50% 50%; background-size: cover;"></div>
                    <div class="text">
                        <span>16 апр 2019</span>
                        <h3>Твой здоровый обед!</h3>
                        <p>Lorem ipsum dolor sit amet, rhoncus justo hymenaeos, pretium non id at amet. Adipisicing urna. Feugiat lorem ullamcorper volutpat semper velit. Elit nostra ligula etiam. </p>
                        <a href="news-internal.html">Подробнее <i class="icon-arrow-long"></i></a>
                    </div>
                </div>
                <div class="news-item">
                    <div class="img" style="background: url('../img/news-item-img.png') no-repeat 50% 50%; background-size: cover;"></div>
                    <div class="text">
                        <span>16 апр 2019</span>
                        <h3>Твой здоровый обед!</h3>
                        <p>Lorem ipsum dolor sit amet, rhoncus justo hymenaeos, pretium non id at amet. Adipisicing urna. Feugiat lorem ullamcorper volutpat semper velit. Elit nostra ligula etiam. </p>
                        <a href="news-internal.html">Подробнее <i class="icon-arrow-long"></i></a>
                    </div>
                </div>
                <div class="news-item">
                    <div class="img" style="background: url('../img/news-item-img.png') no-repeat 50% 50%; background-size: cover;"></div>
                    <div class="text">
                        <span>16 апр 2019</span>
                        <h3>Твой здоровый обед!</h3>
                        <p>Lorem ipsum dolor sit amet, rhoncus justo hymenaeos, pretium non id at amet. Adipisicing urna. Feugiat lorem ullamcorper volutpat semper velit. Elit nostra ligula etiam. </p>
                        <a href="news-internal.html">Подробнее <i class="icon-arrow-long"></i></a>
                    </div>
                </div>
                <div class="news-item">
                    <div class="img" style="background: url('../img/news-item-img.png') no-repeat 50% 50%; background-size: cover;"></div>
                    <div class="text">
                        <span>16 апр 2019</span>
                        <h3>Твой здоровый обед!</h3>
                        <p>Lorem ipsum dolor sit amet, rhoncus justo hymenaeos, pretium non id at amet. Adipisicing urna. Feugiat lorem ullamcorper volutpat semper velit. Elit nostra ligula etiam. </p>
                        <a href="news-internal.html">Подробнее <i class="icon-arrow-long"></i></a>
                    </div>
                </div>
                <div class="news-item">
                    <div class="img" style="background: url('../img/news-item-img.png') no-repeat 50% 50%; background-size: cover;"></div>
                    <div class="text">
                        <span>16 апр 2019</span>
                        <h3>Твой здоровый обед!</h3>
                        <p>Lorem ipsum dolor sit amet, rhoncus justo hymenaeos, pretium non id at amet. Adipisicing urna. Feugiat lorem ullamcorper volutpat semper velit. Elit nostra ligula etiam. </p>
                        <a href="news-internal.html">Подробнее <i class="icon-arrow-long"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- build:section layout.footer-->
    <!-- /build -->

    <script src="../js/jquery.min.js"></script>
    <script src="../js/jquery.mask.min.js"></script>
    <script src="../js/jquery.matchHeight.min.js"></script>
    <script src="../js/script.min.js"></script>
    <script src="../js/news.min.js"></script>
</body>

</html>