<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Барабулька</title>
    <meta name="cmsmagazine" content="5a7189a28fb3dc68238dbdb44c9ea99c" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">
    <link rel="icon" type="image/png" sizes="16x16" href="../img/favicon.ico">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/personal-area.css">
</head>

<body>

    <style>
        :root {
            --color-black: #000000;
            --color-white: #ffffff;
            --color-main1: #75a3dc;
            --color-main2: #f9c651;
            --color-main3: #ff8237;
            --color-main4: #e0e0e0;
            --color-main5: #b9b9b9;
            --color-main6: #282828;
            --color-main7: #e1e1e1;
            --color-main8: #ecedef;
            --color-main9: #403f3c;
        }
    </style>


    <div class="mobile-menu">
        <nav>
            <ul>
                <li class="active"><a href="index.html">Меню</a></li>
                <li><a href="delivery.html">Доставка</a></li>
                <li><a href="stocks.html">Акции</a></li>
            </ul>
        </nav>
    </div>
    <div class="address_search-popup">
        <span class="close"></span>
        <div class="address-content">
            <span class="close-popup"><i class="icon-error"></i></span>
            <div class="top">
                <p>В каком городе Вы находитесь?</p>
                <div class="city">
                    <p>Москва</p>
                    <p>Санкт-Петербург</p>
                </div>
            </div>
            <div class="form">
                <div class="input_box">
                    <input type="text" placeholder="Поиск...">
                </div>
                <div class="alphabet">
                    <ul>
                        <li>а</li>
                        <li>б</li>
                        <li>в</li>
                        <li>г</li>
                        <li>д</li>
                        <li>е</li>
                        <li>ж</li>
                        <li>з</li>
                        <li>и</li>
                        <li class="active">к</li>
                        <li>л</li>
                        <li>м</li>
                        <li>н</li>
                        <li>о</li>
                        <li>п</li>
                        <li>р</li>
                        <li>с</li>
                        <li>т</li>
                        <li>у</li>
                        <li>ф</li>
                        <li>х</li>
                        <li>ц</li>
                        <li>ч</li>
                        <li>ш</li>
                        <li>щ</li>
                        <li>э</li>
                        <li>ю</li>
                        <li>я</li>
                    </ul>
                </div>
                <div class="city_box">
                    <div class="box">
                        <div>
                            <p>Казань</p>
                        </div>
                        <div>
                            <p>Калачинск</p>
                        </div>
                        <div>
                            <p>Калуга</p>
                        </div>
                        <div>
                            <p>Каменск-Уральский</p>
                        </div>
                        <div>
                            <p>Каменск-Шахтинский</p>
                        </div>
                        <div>
                            <p>Камышин</p>
                        </div>
                        <div>
                            <p>Канск</p>
                        </div>
                        <div>
                            <p>Кемерово</p>
                        </div>
                        <div>
                            <p>Кингисепп</p>
                        </div>
                    </div>
                    <div class="box">
                        <div>
                            <p>Казань</p>
                        </div>
                        <div>
                            <p>Калачинск</p>
                        </div>
                        <div>
                            <p>Калуга</p>
                        </div>
                        <div>
                            <p>Каменск-Уральский</p>
                        </div>
                        <div>
                            <p>Каменск-Шахтинский</p>
                        </div>
                        <div>
                            <p>Камышин</p>
                        </div>
                        <div>
                            <p>Канск</p>
                        </div>
                        <div>
                            <p>Кемерово</p>
                        </div>
                        <div>
                            <p>Кингисепп</p>
                        </div>
                    </div>
                    <div class="box">
                        <div>
                            <p>Казань</p>
                        </div>
                        <div>
                            <p>Калачинск</p>
                        </div>
                        <div>
                            <p>Калуга</p>
                        </div>
                        <div>
                            <p>Каменск-Уральский</p>
                        </div>
                        <div>
                            <p>Каменск-Шахтинский</p>
                        </div>
                        <div>
                            <p>Камышин</p>
                        </div>
                        <div>
                            <p>Канск</p>
                        </div>
                        <div>
                            <p>Кемерово</p>
                        </div>
                        <div>
                            <p>Кингисепп</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="valid2-popup">
        <span class="close "></span>
        <div class="valid2-content">
            <span class="close-popup"><i class="icon-error"></i></span>
            <h4>Ваш заказ успешно оформлен</h4>
            <p>Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий
            </p>
        </div>
    </div>
    <div class="valid3-popup">
        <span class="close"></span>
        <div class="valid3-content">
            <span class="close-popup"><i class="icon-error"></i></span>
            <h4>Для оформления заказа, авторизуйтесь</h4>
        </div>
    </div>
    <div class="valid4-popup">
        <span class="close replace"></span>
        <div class="valid4-content">
            <span class="close-popup replace"><i class="icon-error"></i></span>
            <section class="authorization2">
                <div class="container">
                    <div class="title">
                        <h2>Личный кабинет</h2>
                    </div>
                    <div class="authorization-content2">
                        <div id="authorization-tabs2" class="authorization-tabs2">
                            <ul>
                                <li><a href="#tab-3"> Авторизация </a></li>
                                <li><a href="#tab-4"> Регистрация </a></li>
                            </ul>

                            <div id="tab-3">
                                <form>
                                    <div class="input">
                                        <input class="phone" type="text" placeholder="Ваш номер телефона">
                                        <input type="text" placeholder="Код из SMS">
                                    </div>
                                    <button type="button" class="sms_btn">Отправить смс</button>
                                    <span>Отправить повторно <i>4:58</i></span>
                                    <button>Войти</button>
                                </form>
                            </div>
                            <div id="tab-4">
                                <form>
                                    <div class="input">
                                        <input class="phone" type="text" placeholder="Ваш номер телефона">
                                        <input type="text" placeholder="Ваш E-mail">
                                        <input type="text" placeholder="Ваше Имя">
                                        <input type="text" placeholder="Код из SMS">
                                    </div>
                                    <span>Отправить повторно <i>4:58</i></span>
                                    <p>Регистрируясь Вы принимаете условия <a href="privacy-terms.html" target="_blank">полтики конфиденциальности</a></p>
                                    <button>Зарегистрироваться</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <div class="valid5-popup">
        <span class="close"></span>
        <div class="valid5-content">
            <span class="close-popup"><i class="icon-error"></i></span>
            <h4>Для оформления заказа, авторизуйтесь</h4>
        </div>
    </div>
    <header>
        <div class="container">
            <div class="header-content">
                <div class="logo-menu">
                    <span class="open-menu">
                   <span></span>
                    </span>
                    <a href="index.html" class="logo"><img src="../img/logo.png" alt=""></a>
                    <nav>
                        <ul>
                            <li class="active"><a href="index.html">Меню</a></li>
                            <li><a href="delivery.html">Доставка</a></li>
                            <li><a href="stocks.html">Акции</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="user-tel">
                    <div class="cont">
                        <i class="icon-call-answer"></i>
                        <a href="tel:8 800 000 00 00">8 800 000 00 00</a>
                        <span class="search-popup">Санкт-Петербург</span>
                    </div>
                    <form>
                        <div class="form">
                            <input type="search">
                            <button><i class="icon-magnifying-glass"></i></button>
                        </div>
                        <a class="form-open" href="javascript:void(0)"><i class="icon-magnifying-glass"></i></a>
                    </form>
                    <div class="basket">
                        <a href="basket.html"><span>2</span><i class="icon-shopping-cart"></i></a>
                        <p>Сумма: <strong>2 680 руб.</strong></p>
                    </div>
                    <a href="authorization.html" class="user"><i class="icon-user"></i><span>Войти</span></a>
                </div>
            </div>
        </div>
    </header>

    <div class="deletion-popup">
        <span class="close"></span>
        <div class="deletion-content">
            <span class="close-popup"><i class="icon-error"></i></span>
            <h4>Удаление</h4>
            <p>Вы уверены, что хотите удалить данный адрес?</p>
            <ul>
                <li><a class="cancel" href="javascript:void(0)">Отмена</a></li>
                <li><a class="delete" href="javascript:void(0)">Удалить</a></li>
            </ul>
        </div>
    </div>

    <div class="address-popup">
        <span class="close"></span>
        <div class="address-content">
            <span class="close-popup"><i class="icon-error"></i></span>
            <h4>Мой адрес</h4>
            <form>
                <div class="form-content">
                    <select data-jcf='{"wrapNative": false, "wrapNativeOnMobile": false, "fakeDropInBody": false, "useCustomScroll": false}'>
                        <option>Город</option>
                        <option>Москва</option>
                        <option>Санкт-Петербург</option>
                    </select>
                    <input type="text" placeholder="Улица">
                    <input type="text" placeholder="Номер дома">
                    <input type="text" placeholder="Корпус">
                    <input type="text" placeholder="Подъезд">
                    <input type="text" placeholder="Домофон">
                    <input type="text" placeholder="Этаж">
                    <input type="text" placeholder="Квартира / офис">
                </div>
                <textarea placeholder="Примечание к адресу"></textarea>
                <button>Выбрать адрес</button>
            </form>
        </div>
    </div>

    <div class="review-popup">
        <span class="close"></span>
        <div class="review-content">
            <span class="close-popup"><i class="icon-error"></i></span>
            <h4>Оставить отзыв</h4>
            <form>
                <input type="text" placeholder="E-mail">
                <input type="text" class="phone" placeholder="Телефон">
                <textarea placeholder="Отзыв о заказе"></textarea>
                <button>Отправить</button>
            </form>
        </div>
    </div>

    <div class="bread-crumbs">
        <div class="container">
            <ul>
                <li><a href="index.html">Главная</a></li>
                <li><span>Личный кабинет</span></a>
                </li>
            </ul>
        </div>
    </div>

    <section class="personal-area">
        <div class="container">
            <div class="title">
                <h2>Личный кабинет</h2>
            </div>
            <div class="personal-area-content">
                <div id="personal-area-tabs" class="personal-area-tabs">
                    <ul>
                        <li><a href="#tab-1"> Личные данные </a></li>
                        <li><a href="#tab-2"> История заказов </a></li>
                        <li><a href="#tab-3"> Бонусы </a></li>
                    </ul>
                    <div id="tab-1">
                        <div class="personal-data">
                            <div class="data">
                                <div class="tabs-title">
                                    <h3>1. Личные данные</h3>
                                </div>
                                <div class="data-content">
                                    <ul>
                                        <li>
                                            <div class="data-item active">
                                                <p>Бунин Иван Алексеевич</p>
                                                <span class="edit">(ред.)</span>
                                            </div>
                                            <div class="data-form">
                                                <input type="text">
                                                <span class="save">сохранить</span>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="data-item active">
                                                <p>+7 (123) 123-11-11</p>
                                                <span class="edit edit_sms">(ред.)</span>

                                            </div>

                                            <div class="data-form">
                                                <input type="text">
                                                <span class="save save_sms">сохранить</span>
                                            </div>
                                            <input type="text" id="tel_input_sms" class="tel_input_sms" placeholder="Код смс">
                                            <span class="sms_btn_tel">Отправить смс</span>
                                        </li>
                                        <li>
                                            <div class="data-item active">
                                                <p>Bunin@gmail.com</p>
                                                <span class="edit">(ред.)</span>
                                            </div>
                                            <div class="data-form">
                                                <input type="text">
                                                <span class="save">сохранить</span>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="addresses">
                                <div class="tabs-title">
                                    <h3>2. Адреса доставки</h3>
                                </div>
                                <div class="addresses-content">
                                    <ul>
                                        <li>
                                            <div class="addresses-item active">
                                                <p>г. Москва, пр. Невский, д. 9, кв 4</p>
                                                <span class="edit">(ред.)</span>
                                                <span class="remove">удалить</span>
                                            </div>
                                            <div class="addresses-form">
                                                <input type="text">
                                                <span class="save">сохранить</span>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="addresses-item active">
                                                <p>г. Москва, пр Невский, д. 5, кв 3</p>
                                                <span class="edit">(ред.)</span>
                                                <span class="remove">удалить</span>
                                            </div>
                                            <div class="addresses-form">
                                                <input type="text">
                                                <span class="save">сохранить</span>
                                            </div>
                                        </li>
                                    </ul>
                                    <a href="javascript:void(0)" class="add-address">Добавить адрес</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="tab-2">
                        <div class="purchase-history">
                            <div class="purchase-content">
                                <div class="purchase-item">
                                    <div class="tabs-title">
                                        <h3>Заказ от 24.08.2019</h3>
                                    </div>
                                    <div class="item">
                                        <h5>Заказ 234 543</h5>
                                        <p>Пицца “4 сыра” 32 см (2 шт), Мороженное с топингом Шоколад (1 шт)</p>
                                        <strong>1 940 руб.</strong>
                                        <ul>
                                            <li><a class="like" href="javascript:void(0)"><i class="icon-001-like"></i></a></li>
                                            <li><a class="dislike" href="javascript:void(0)"><i class="icon-002-dislike"></i></a class="like"></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="purchase-item">
                                <div class="tabs-title">
                                    <h3>Заказ от 24.08.2019</h3>
                                </div>
                                <div class="item">
                                    <h5>Заказ 234 543</h5>
                                    <p>Пицца “4 сыра” 32 см (2 шт), Мороженное с топингом Шоколад (1 шт)</p>
                                    <strong>1 940 руб.</strong>
                                    <ul>
                                        <li><a class="like" href="javascript:void(0)"><i class="icon-001-like"></i></a></li>
                                            <li><a class="dislike" href="javascript:void(0)"><i class="icon-002-dislike"></i></a class="like"></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="purchase-item">
                                <div class="tabs-title">
                                    <h3>Заказ от 24.08.2019</h3>
                                </div>
                                <div class="item">
                                    <h5>Заказ 234 543</h5>
                                    <p>Пицца “4 сыра” 32 см (2 шт), Мороженное с топингом Шоколад (1 шт)</p>
                                    <strong>1 940 руб.</strong>
                                    <ul>
                                        <li><a class="like" href="javascript:void(0)"><i class="icon-001-like"></i></a></li>
                                            <li><a class="dislike" href="javascript:void(0)"><i class="icon-002-dislike"></i></a class="like"></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="tab-3">

                </div>
            </div>
        </div>
    </div>
</section>

<footer>
    <div class="footer" style="background: url('../img/footer.jpg') 50% 50% no-repeat; background-size: cover;">
        <img src="../img/footer-after.png" alt="" class="footer-after">
        <div class="container">
            <div class="footer-content">
                <div class="logo-menu">
                    <div class="logo">
                        <a href="index.html"><img src="../img/logo-footer.png" alt=""></a>
                                                <p>© 2019 Ресторан «Барабулька»</p>
                                    </div>
                                    <div class="menu">
                                        <ul>
                                            <li><a href="letter-director.html">Письмо Директору</a></li>
                                            <li><a href="delivery.html">Доставка и оплата</a></li>
                                            <li><a href="news.html">Новости</a></li>
                                            <li><a href="contacts.html">Контакты</a></li>
                                        </ul>
                                        <a class="designed" href="javascript:void(0)">Разработано в студии “Touch”</a>
                                        <a class="privacy" href="privacy-terms.html">Условия конфиденциальности</a>
                                    </div>
                                    <div class="addres-payment">
                                        <p>Юридический адрес:</p>
                                        <a href="javascript:void(0)" class="addres">Москва, ул. Добролюбова, д. 129, оф 15</a>
                                        <a class="tel" href="tel:8 000 000 00 00">тел: 8 000 000 00 00</a>
                                        <p>Принимаем к оплате</p>
                                        <ul>
                                            <li>
                                                <a href="javascript:void(0)"><img src="../img/payment-img1.png" alt=""></a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)"><img src="../img/payment-img2.png" alt=""></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="solial-attachment">
                                    <p>Присоединяйся к нам в соц сетях </p>
                                    <ul class="solial">
                                        <li><a href="javascript:void(0)"><i class="icon-instagram"></i></a></li>
                                        <li><a href="javascript:void(0)"><i class="icon-facebook"></i></a></li>
                                        <li><a href="javascript:void(0)"><i class="icon-telegram"></i></a></li>
                                    </ul>
                                    <ul class="attachment">
                                        <li>
                                            <span>для IOS</span>
                                            <a class="attachment-desc" href="javascript:void(0)"><img src="../img/attachment1.png" alt=""></a>
                                            <a class="attachment-mobile" href="javascript:void(0)"><img src="../img/store-icon.png" alt=""></a class="attachment-desc">
                                        </li>
                                        <li>
                                            <span>для Android</span>
                                            <a class="attachment-desc" href="javascript:void(0)"><img src="../img/attachment1.png" alt=""></a class="attachment-desc">
                                            <a class="attachment-mobile" href="javascript:void(0)"><img src="../img/google-icon.png" alt=""></a class="attachment-desc">
                                        </li>
                                    </ul>
                                    <p>© 2019 Ресторан «Барабулька»</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    </footer>

                    <script src="../js/jquery.min.js"></script>
                    <script src="../js/jquery.mask.min.js"></script>
                    <script src="../js/jquery.matchHeight.min.js"></script>
                    <script src="../js/jquery.responsiveTabs.min.js"></script>
                    <script src="../js/jcf.min.js"></script>
                    <script src="../js/jcf.select.min.js"></script>
                    <script src="../js/script.min.js"></script>
                    <script src="../js/personal-area.min.js"></script>
</body>

</html>