<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Барабулька</title>
    <meta name="cmsmagazine" content="5a7189a28fb3dc68238dbdb44c9ea99c" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">
    <link rel="icon" type="image/png" sizes="16x16" href="../img/favicon.ico">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/privacy-terms.css">
</head>

<body>

    <!-- build:section layout.settings-->
    <!-- /build -->

    <!-- build:section layout.header-->
    <!-- /build -->

    <div class="bread-crumbs">
        <div class="container">
            <ul>
                <li><a href="index.html">Главная</a></li>
                <li><span>Условия конфиденциальности</span></a>
                </li>
            </ul>
        </div>
    </div>

    <section class="privacy-terms">
        <div class="container">
            <div class="title">
                <h2>Условия конфиденциальности</h2>
            </div>
            <div class="privacy-terms-content">
                <div class="privacy-terms-item">
                    <h4>1. Общие положения</h4>
                    <ul>
                        <li><span>1.1.</span>Настоящая Политика обработки персональных данных (далее - Политика) регулирует правоотношения по обработке персональных данных между пользователем сети “Интернет” (далее - Клиент) и Компанией.
                            <li><span>1.2.</span>Клиент обязан полностью ознакомиться с настоящей Политикой до момента использования сервисов Сайта.</li>
                            <li><span>1.3.</span>В случае несогласия с положениями Политики Клиент должен воздержаться от дальнейшего использования Сайта.</li>
                            <li><span>1.4.</span>Настоящая Политика действует только на территории Российской Федерации.</li>
                            <li><span>1.5.</span>Компания вправе вносить в настоящую Политику изменения по своему усмотрению, в том числе, но не ограничиваясь, в случаях, когда соответствующие изменения связаны с изменениями в применимом законодательстве,
                                а также когда соответствующие изменения связаны с изменениями в работе Сайтов. Клиент обязуется самостоятельно контролировать наличие изменений в настоящей Политике. Новая реакции Политики вступает в силу с момента ее размещения,
                                если иное не предусмотрено новой редакцией Политики.</li>
                    </ul>
                </div>
                <div class="privacy-terms-item">
                    <h4>2. Термины и определения</h4>
                    <ul>
                        <li><span>2.1.</span>В настоящей Политике, если из контекста не следует иное, нижеприведенные термины с заглавной буквы имеют следующие значения:
                            <ul>
                                <li><span>2.1.1.</span><strong>«Компания»</strong> - Общество с ограниченной ответственностью ...</li>
                                <li><span>2.1.2.</span><strong>«Персональные данные»</strong> - персональные данные, которые Пользователь может предоставить о себе (имя (в том числе псевдоним); день рождения; адрес доставки; номер телефона; адрес электронной
                                    почты); информация об опыте работы; увлечениях; ссылки на личные страницы в социальных сетях; IP-адрес; информация из cookie; информация о браузере Пользователя, а также иные данные, которые Пользователь может указать/предоставить
                                    в соответствующих полях (как обязательных, так и необязательных для заполнения) на Сайте. Полный перечень Персональных данных указывается в соответствующих полях на каждом отдельном Сайте.
                                </li>
                                <li><span>2.1.3.</span><strong>«Пользователь»</strong> (Клиент) - Посетитель, который уже имеет личную учетную запись. </li>
                                <li><span>2.1.4.</span><strong>«Товары»</strong> - продукция сети пиццерий, объединенных в рамках франчайзинговой сети под товарным знаком ..,, представленная на Сайте. </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <!-- build:section layout.footer-->
    <!-- /build -->

    <script src="../js/jquery.min.js"></script>
    <script src="../js/jquery.mask.min.js"></script>
    <script src="../js/jquery.matchHeight.min.js"></script>
    <script src="../js/script.min.js"></script>
    <script src="../js/privacy-terms.min.js"></script>
</body>

</html>