<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Барабулька</title>
    <meta name="cmsmagazine" content="5a7189a28fb3dc68238dbdb44c9ea99c" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">
    <link rel="icon" type="image/png" sizes="16x16" href="../img/favicon.ico">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/stocks.css">
</head>

<body>

    <!-- build:section layout.settings-->
    <!-- /build -->

    <!-- build:section layout.header-->
    <!-- /build -->

    <div class="bread-crumbs">
        <div class="container">
            <ul>
                <li><a href="index.html">Главная</a></li>
                <li><span>Акции</span></a>
                </li>
            </ul>
        </div>
    </div>

    <section class="stocks">
        <div class="container">
            <div class="title">
                <h2>Акции</h2>
            </div>
            <div class="stocks-content">
                <div class="stocks-item active">
                    <div class="stocks-img" style="background: url('../img/stocks-bg.png') no-repeat 50% 50%; background-size: cover;">
                        <span></span>
                        <img src="../img/stocks-img.png" alt="">
                        <div class="img-text">
                            <h3>Lorem ipsum dolor</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque et libero imperdiet.</p>
                            <a href="jabascript:void(0)">Подробне</a>
                        </div>
                    </div>
                    <div class="stocks-text">
                        <div class="text">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam a dui maximus justo rhoncus maximus eget eget purus. Mauris ut felis ut felis tempor vestibulum. Donec eget orci sit amet sem sagittis scelerisque quis nec justo.
                                Proin at sapien eget velit feugiat dapibus vel ut ipsum. Praesent non vehicula ante. Duis ultrices sem nisi, vitae tincidunt purus vehicula nec. Morbi pulvinar, nibh a laoreet hendrerit, nibh nisl tempus felis, quis semper
                                mi risus eu ipsum. Fusce faucibus, metus id pharetra laoreet, lorem nisi lacinia elit, nec sollicitudin felis justo non mauris. Quisque viverra blandit ipsum, ut commodo justo scelerisque sit amet.</p>
                            <a href="card-product.html">Заказать</a>
                        </div>
                    </div>
                </div>
                <div class="stocks-item no-active">
                    <div class="stocks-img" style="background: url('../img/stocks-bg.png') no-repeat 50% 50%; background-size: cover;">
                        <span></span>
                        <img src="../img/stocks-img.png" alt="">
                        <div class="img-text">
                            <h3>Lorem ipsum dolor</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque et libero imperdiet.</p>
                            <a href="jabascript:void(0)">Подробне</a>
                        </div>
                    </div>
                    <div class="stocks-text">
                        <div class="text">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam a dui maximus justo rhoncus maximus eget eget purus. Mauris ut felis ut felis tempor vestibulum. Donec eget orci sit amet sem sagittis scelerisque quis nec justo.
                                Proin at sapien eget velit feugiat dapibus vel ut ipsum. Praesent non vehicula ante. Duis ultrices sem nisi, vitae tincidunt purus vehicula nec. Morbi pulvinar, nibh a laoreet hendrerit, nibh nisl tempus felis, quis semper
                                mi risus eu ipsum. Fusce faucibus, metus id pharetra laoreet, lorem nisi lacinia elit, nec sollicitudin felis justo non mauris. Quisque viverra blandit ipsum, ut commodo justo scelerisque sit amet.</p>
                            <a href="card-product.html">Заказать</a>
                        </div>
                    </div>
                </div>
                <div class="stocks-item active">
                    <div class="stocks-img" style="background: url('../img/stocks-bg.png') no-repeat 50% 50%; background-size: cover;">
                        <span></span>
                        <img src="../img/stocks-img.png" alt="">
                        <div class="img-text">
                            <h3>Lorem ipsum dolor</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque et libero imperdiet.</p>
                            <a href="jabascript:void(0)">Подробне</a>
                        </div>
                    </div>
                    <div class="stocks-text">
                        <div class="text">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam a dui maximus justo rhoncus maximus eget eget purus. Mauris ut felis ut felis tempor vestibulum. Donec eget orci sit amet sem sagittis scelerisque quis nec justo.
                                Proin at sapien eget velit feugiat dapibus vel ut ipsum. Praesent non vehicula ante. Duis ultrices sem nisi, vitae tincidunt purus vehicula nec. Morbi pulvinar, nibh a laoreet hendrerit, nibh nisl tempus felis, quis semper
                                mi risus eu ipsum. Fusce faucibus, metus id pharetra laoreet, lorem nisi lacinia elit, nec sollicitudin felis justo non mauris. Quisque viverra blandit ipsum, ut commodo justo scelerisque sit amet.</p>
                            <a href="card-product.html">Заказать</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- build:section layout.footer-->
    <!-- /build -->

    <script src="../js/jquery.min.js"></script>
    <script src="../js/jquery.mask.min.js"></script>
    <script src="../js/jquery.matchHeight.min.js"></script>
    <script src="../js/script.min.js"></script>
    <script src="../js/stocks.min.js"></script>
</body>

</html>